{% extends 'AppBundle::layout.html.twig' %}


{% block header %}
    {{ parent() }}

    <div id="banner">
        <div class="content"><img src="{{ asset('bundles/app/pictures/main.jpg') }}" width="1000" height="500" alt="" /></div>
    </div>

{% endblock %}

{% block content %}

    Need for about as text

{% endblock %}