{% extends'AppBundle::layout.html.twig' %}

{% block content %}
    <div id="page">
        {% thumbnail product.media, 'big' with {'width': '300'} %}

        {% for galleryHasMedia in product.gallery.galleryHasMedias %}
            {% thumbnail galleryHasMedia, 'small' %}
        {% endfor %}
        <div id="sidebar">
            <ul>
                <li>
                    <h2>{{ product.name }}</h2>
                <ul>
                    <li>{{ product.code }}</li>
                    <li>{{ product.price }}</li>
                    <li>{{ product.description }}</li>
                </ul>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}