#list {
    margin-top: 30px;
}

#list .item {
    padding: 15px;
}

#list .item-footer {
    box-shadow: 0 0 4px #c5c5c5;
    padding: 0 12px;
}

#list .item-footer div {
    padding-top: 15px;
}

#list .item-title {
}

#list .item-description {
    height: 95px;
    min-height: 95px;
    max-height: 95px;
    overflow: hidden;
}

#list .item-read-more {
    padding: 20px 0 !important;
    width: 102px;
    display: inline-block;
}

#list .item-price {
    float: right;
    color: #e81515;
    font-size: 30px;
    margin-top: 8px;
    font-family: sans-serif;
}

#list .item-read-more a {
    padding: 10px 15px;
    background-color: #ff8d8d;
    text-shadow: 0 1px 1px #9e6666;
    color: white;
    border-radius: 4px;
}

/* animation */
.items-animate.ng-enter,
.items-animate.ng-leave{
    -webkit-transition: 200ms ease-out all;
    -moz-transition: 200ms ease-out all;
    -ms-transition: 200ms ease-out all;
    -o-transition: 200ms ease-out all;
    transition: 200ms ease-out all;
}
.items-animate.ng-enter-stagger{
    transition-delay: 0.1s;
    animation-delay: 0.1s;
}

.items-animate.ng-leave.items-animate.ng-leave-active,
.items-animate.ng-enter {
    opacity: 0;
    top: 100px;
}

.items-animate.ng-enter.items-animate.ng-enter-active,
.items-animate.ng-leave {
    opacity: 1;
    top: 0;
}